@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes wiggle {
  0% {
    transform: skew(4deg, 0deg) scaleX(1);
  }

  10% {
    transform: skew(1deg, 0deg) scaleY(0.9);
  }

  50% {
    transform: skew(-4deg, 0deg) scaleX(1);
  }

  60% {
    transform: skew(-1deg, 0deg) scaleY(0.9);
  }

  100% {
    transform: skew(4deg, 0deg) scaleX(1);
  }
}

.animate-wiggle {
  animation: wiggle 2s infinite;
}
